# Configuración de la base de datos MongoDB
MONGODB_URI=mongodb://localhost:27017/team-balancer

# Contraseña del panel de administración
# ADMIN_PASSWORD=admin123

# Configuración del entorno
NODE_ENV=development
